
@import "../../../styles/var";
@import "../../../styles/mixin";

.navbar{
    padding: $padding-blocks;
    padding-inline: $padding-inline;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: $bg-color;
    width: 100%;
    position: fixed; 
    z-index: 10;
    top:0; 
    opacity: 0.7;
 } 

.brandname{
font-size: 2rem;
color: $primary-accent;  
font-style:oblique;
font-weight: 600;
} 
 
.blogname{
    color: $white;
}
 
.nav_links_center>*{
margin-inline: 2rem;
}

[class*="nav_links"], .nav_links {
    font-size: $text-s;
    font-weight: 700;
}
 

.profile_img{
    width: 100%;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    overflow: hidden;
 
    img{ 
        height: 100%;
        width: 100%; 
      }
    a{
        margin: 0;
    }

    .defaultProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        // background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
        color: #fff;
        font-size: 20px;
        font-weight: bold;
       }
}

 
.active_Link{
    color: $primary-accent;
}